// Nova Tool CSS
.region-option-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.region-option-button {
  border-radius: 5px;
  padding: 5px;
  opacity: 0.5;

  &:hover {
    background: #f1f2f6;
    opacity: 0.9;
  }
}

.region-option-button--active,
.region-option-button--active:hover {
  opacity: 1;
  background: #38c172;
  color: white;
}
